:root {
  --color-white: #ffffff;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.displayNone {
  display: none;
}
.smallCaps {
  font-variant: small-caps;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 1rem;
  background-color: black;
  color: #cbcbcb;
}

h2 {
  font-size: 1.2rem;
}

div.wrapperOrdersTableAndLogger {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
button.btn {
  background: none;
  background: navy;
  color: #cbbfbf;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  user-select: none;
}

.btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
