:root {
  --color-white: #ffffff;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.displayNone {
  display: none;
}
.smallCaps {
  font-variant: small-caps;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 1rem;
  background-color: black;
  color: #cbcbcb;
}

h2 {
  font-size: 1.2rem;
}
