header {
  margin-bottom: 1rem;
}

button.btn {
  background: none;
  background: navy;
  color: #cbbfbf;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
